#main-col {
  width: 90%;
  margin: 2vw 1vw 2vw 0;
}

#sidebar {
  width: 40%;
  margin: 2vw 0 2vw 1vw;
}

.title {
  margin: 10px 0;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  #main-col {
    width: 80%;
  }
  #sidebar {
    width: 80%;
  }
}
