* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

:root {
  --bg-color: #f8fafc;
  --bg-header: #334155;
  --text-color: #f8fafc;
  --border-color: #fb923c;
  --hover-color: #e2e8f0;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Luxurious Roman", cursive;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* header */

.header {
  background-color: var(--bg-header);
  color: var(--text-color);
  padding: 10px 0;
  border-bottom: var(--border-color) solid 2px;
}

#branding {
  float: left;
}

#nav-bar {
  float: right;
}

.nav-link a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.25rem;
}

.header ul {
  margin: 12px 0;
  padding: 0;
}

.header li {
  display: inline;
  padding: 0 20px;
}

.header .highlight,
.header .current a {
  color: var(--border-color);
  font-weight: bold;
}

.nav-link a:hover {
  color: var(--hover-color);
  font-weight: bold;
}

/* showcase */

#showcase {
  height: 100vh;
  background: url("../images/web_design.jpg") no-repeat;
  background-size: 100%;
  opacity: 0.7;
  text-align: center;
  color: var(--border-color);
  border-bottom: var(--border-color) solid 2px;
}

#showcase h1 {
  margin-top: 10vh;
  font-size: 3.5rem;
  margin-bottom: 2vh;
}

#showcase p {
  font-size: 1.5rem;
  color: var(--text-color);
}

/* newsletter */

#newsletter {
  background-color: var(--bg-header);
  padding: 3vh 0;
  border-bottom: var(--border-color) solid 2px;
}

#newsletter div {
  height: 60px;
}

#newsletter h1 {
  font-size: 2rem;
}

#newsletter form {
  /* font-size: 2rem; */
  float: right;
  position: relative;
  bottom: 40px;
}

.input,
.btn-submit {
  font-size: 1.15rem;
  padding: 3px 6px;
  margin: 3px 10px;
  /* border-radius: 0.35rem;
  border-color: var(--bg-header); */
  color: var(--bg-header);
}

.btn-submit {
  background-color: var(--border-color);
  cursor: pointer;
}

/* boxes */

#boxes {
  margin: 0.5vw 0;
  padding: 1vw 0;
}
.container_boxes {
  display: flex;
  flex-direction: row;
}

.box {
  text-align: center;
}

.box img {
  background-size: contain;
}

/* footer */
.footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--border-color);
  color: var(--text-color);
}
