:root {
  --bg-color: #f8fafc;
  --bg-header: #334155;
  --text-color: #f8fafc;
  --border-color: #fb923c;
  --hover-color: #e2e8f0;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.dark {
  background-color: var(--bg-header);
  color: var(--text-color);
  padding: 10px;
  margin: 20px 0;
}

/* header */

.header {
  background-color: var(--bg-header);
  color: var(--text-color);
  padding: 10px 0;
  border-bottom: var(--border-color) solid 2px;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.25rem;
}

.nav-bar {
  margin: 12px 0;
}

.nav-pills {
  display: inline;
  padding: 0 20px;
}

.highlight,
.current {
  color: var(--border-color);
  font-weight: bold;
}

.nav-pills a:hover {
  color: var(--hover-color);
  font-weight: bold;
}

/* showcase */

#showcase {
  height: 100vh;
  background: url("../images/web_design.jpg") no-repeat;
  background-size: cover;
  opacity: 0.7;
  color: var(--border-color);
  border-bottom: var(--border-color) solid 2px;
}

.showcase--container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#showcase h1 {
  margin-top: 10vh;
  font-size: 3.5rem;
  margin-bottom: 2vh;
}

#showcase p {
  font-size: 1.5rem;
  color: var(--text-color);
}

/* newsletter */

#newsletter {
  background-color: var(--bg-header);
  padding: 3vh 0;
  border-bottom: var(--border-color) solid 2px;
}

#newsletter h1 {
  font-size: 1.5rem;
  color: var(--text-color);
}

.input,
.btn-submit {
  font-size: 1.15rem;
  padding: 3px 6px;
  margin: 3px 10px;
  border: none;
  color: var(--bg-header);
}

.btn-submit {
  background-color: var(--border-color);
  cursor: pointer;
  border: none;
}

/* boxes */

#boxes {
  margin: 0.5vw 0;
  padding: 1vw 0;
}

.box {
  margin: 0 1rem;
  text-align: center;
}

.box img {
  background-size: contain;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--border-color);
  color: var(--text-color);
}
